<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= categoryName %></title>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1><%= categoryName %></h1>
    <ul>
        <% menuItems.forEach((item) => { %>
            <li><%= item.name %>: $<%= item.price %></li>
            <p>Rating: <%= item.rating %></p>
            <p><%= item.details %></p>
        <% }); %>
    </ul>
</body>
</html>
